## Standart gitignore configuration file.
## Copyright (c) 2024, Toshi Namura

### Visual Studio db
/.vs

### 
/desktop.ini

### 
/.gitattributes

###
/.build

### 
/.fabric
/logs
/versions

###
/world
/world_nether
/world_the_end
/Lobby/advancements
/Lobby/playerdata

### 
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json
/whitelist.json
/usernamecache.json

### 
/start.bat